.popup__container {
	padding: 34px 36px 37px;
	width: 100%;
	max-width: 430px;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-sizing: border-box;
	transition: .2s;
	position: relative;
}

@media screen and (max-width: 578px) {
	.popup__container {
		padding: 25px 22px;
		max-width: 282px;
	}
}