.header__logout-btn {
    height: min-content;
    color: #a9a9a9;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: .2s ease-out;
    text-decoration: none;
    background: none;
    border: none;
}

.header__logout-btn:hover {
    cursor: pointer;
    opacity: .8;
}