.profile__brief {
	margin: 0;
	width: 100%;
	max-width: 500px;
	margin-top: 16px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	transition: .2s;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	grid-area: brief;
}

@media screen and (max-width: 400px) {
	.profile__brief {
		font-size: 14px;
		line-height: 17px;
		margin-top: 10px;
		max-width: 282px;
	}
}